<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />
    <link href="/css/bootstrap.min.css" media="screen" rel="stylesheet" />
    <!-- CSS -->
    <link href="/css/main.css" rel="stylesheet" />

    <title>Usuário | Novo Anjo</title>
  </head>

  <body>
    <!-- Menu -->
    <%- include('menu'); %>
    <!-- /Menu -->
    <main>
      <!-- Novo Evento -->
      <div class="container-fluid">
        <header class="head-perfil">
          <h2 class="title">
            Seu perfil
          </h2>
          <button type="button" class="btn" data-toggle="modal" data-target="#mensagensDoSistema">
            Mensagens do sistema (1)
          </button>
        </header>
        <div
          class="modal fade"
          id="mensagensDoSistema"
          tabindex="-1"
          role="dialog"
          aria-labelledby="mensagensDoSistemaLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="mensagensDoSistemaLabel">Mensagens do sistema (1)</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <ul>
                  <li>Mensagem de teste do sistema</li>
                </ul>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
              </div>
            </div>
          </div>
        </div>
        <section class="perfil-usuario">
          <!-- Form Perfil do Usuário -->
          <form class="form-horizontal" role="form">
            <div class="row">
              <!-- edit form column -->
              <div class="col-md-12">
                <div class="form-group">
                  <label for="nome" class="col-lg-3 control-label">Nome:</label>
                  <div class="col-lg-8">
                    <input id="nome" class="form-control" type="text" value="<%=usuario.nome%>" />
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="sobrenome" class="col-lg-3 control-label">Sobrenome:</label>
                  <div class="col-lg-8">
                    <input
                      id="sobrenome"
                      class="form-control"
                      type="text"
                      value="<%=usuario.sobrenome%>"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="organizacao" class="col-lg-3 control-label">Organização:</label>
                  <div class="col-lg-8">
                    <input
                      id="organizacao"
                      class="form-control"
                      type="text"
                      value="<%=usuario.organizacao%>"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="email" class="col-lg-3 control-label">E-mail:</label>
                  <div class="col-lg-8">
                    <input id="email" class="form-control" type="text" value="<%=usuario.email%>" />
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="tel" class="col-lg-3 control-label">Telefone:</label>
                  <div class="col-lg-8">
                    <input
                      id="tel"
                      class="form-control"
                      type="text"
                      value="<%=usuario.telefone%>"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 checkbox-container">
                <div class="form-group">
                  <label for="anjo" class="col-sm-3 control-label">Anjo:</label>
                  <input id="anjo" class="form-check-input" type="checkbox" <%= usuario.anjo ?
                  'checked' : '' %> />
                </div>
              </div>
              <div class="col-md-3 checkbox-container">
                <div class="form-group">
                  <label for="beneficiario" class="col-sm-3 control-label">Beneficiario:</label>
                  <input id="beneficiario" class="form-check-input" type="checkbox" <%=
                  usuario.beneficiario ? 'checked' : '' %> />
                </div>
              </div>
              <div class="col-md-6 depoimento-container">
                <div class="form-group">
                  <label for="depoimento" class="col-sm-3 control-label">Depoimento:</label>
                  <textarea
                    id="depoimento"
                    class="form-control"
                    value="<%=usuario.depoimento%>"
                  ></textarea>
                </div>
              </div>
            </div>
          </form>
          <!-- /Form Perfil do Usuário -->
        </section>
      </div>
      <!-- Usuario -->
    </main>

    <!-- Footer -->
    <%- include('rodape'); %>
    <!-- /Footer -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
      integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" src="/js/main.js"></script>
  </body>
</html>
